* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4f4f4;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #111;
  color: white;
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #4f46e5, #06b6d4);
  color: white;
  text-align: center;
}

.hero span {
  color: yellow;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: white;
  cursor: pointer;
}

section {
  padding: 60px;
  text-align: center;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

.skill {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

.progress {
  background: #ddd;
  height: 20px;
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #4f46e5;
  transition: 1s;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

form input,
textarea {
  margin: 10px 0;
  padding: 10px;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}

.dark {
  background: #121212;
  color: white;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  .project-container {
    flex-direction: column;
    align-items: center;
  }
}
